<div class="border mx-auto mb-5">
    <%= link_to new_quiz_path, class:"btn btn-lg btn-primary m-3", data: {"turbolinks" => false} do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true">診断を作る</i>
    <% end %>
    <div class="d-inline-block h5">あなたのオリジナル診断をつくろう！</div>
</div>             
