<% title '診断を編集する' %>
<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 mt-5">
            <h1><i class="fa fa-pencil-square-o" aria-hidden="true"></i>クイズ診断を編集する</h1>
            <%= render 'form', quiz: @quiz %>
            </div>
        </div>
    </div>
</div>