/.bundle
/log/*
/tmp
/public/assets/
/config/database.yml
/config/credentials.yml.enc
/gcd_dataset_directory/
*.sqlite3
/config/secrets.yml
.env

# Ignore master key for decrypting credentials and more.
/config/master.key
app/assets/fonts/SourceHanSans.ttc
