<div class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-12 mt-5">
            <div class="text-center h1 bg-white border col-xs-4 col-md-4 mx-auto">お品書き</div>
                <%= link_to '/images/index', class:"font-weight-bold text-dark text-decoration-none" do %>
                    <div class="d-inline-block border col-xs-5 col-md-5 bg-warning p-3 my-3 rounded">
                        <div class="bg-white border border-dark">
                            <p>こめんとメーカー</p>
                            <%= image_tag "こめんとメーカー.png", class:"img-fluid mb-1", alt:"こめんとメーカー" %>
                            <p>ひとことメーカーはあなたの言葉を画像にすることで、１４０文字を越えてツイートすることができるツールです。</p>
                            <p>合成した画像をブログのタイトル画像にしてみたり、twitterなどのSNSに投稿して遊んでください。</p>
                        </div>
                    </div>
                <% end %> 
                <%= link_to '/tests', class:"font-weight-bold text-dark text-decoration-none" do %>
                    <div class="d-inline-block border col-xs-5 col-md-5 bg-warning p-3 my-3 rounded">
                        <div class="bg-white border border-dark">
                            <p>占いメーカー</p>
                            <%= image_tag "占いメーカー.png", class:"img-fluid my-5", alt:"占いメーカー" %>
                            <p>ツイッターなどのSNSでシェアできるおもしろ診断で遊べるサイトです。</p>
                            <p>人気の診断で遊べるだけでなく、オリジナルの診断を作ることもできますので、お気軽にお試しください。</p>
                        </div>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>