<div class="text-center mt-5">
    <h1>ログイン</h1>
</div>
<div class="container">
        <div class="alert alert-info">
            <b>こめんとメーカー</b>では、Twitterのアプリ連携システムを利用することで、安全に簡単にログインをすることが出来ます。<br>下のボタンよりTwitterにて「連携アプリの認証」を行うと、ログインが完了します。
        </div>
        <div class="alert alert-secondary text-center">
        <%= link_to 'twitterでログインする', "/auth/twitter", class: "btn btn-primary font-weight-bold fa fa-twitter", id:"login" %>
        </div>
        <h2 class="login_h2"></span>ログインをしてできること</h2>
        <div class="normal_text">
            <ul class="login_li">             
                <li class="login_li_title">Twitter API を利用してサイト内からツイートすることが出来ます。</li>
                <ul class="login_li">
                    <li>
                        <%= image_tag "before_sweetalert.jpg", class:"img-fluid", alt:"参考画像" %>
                        <i class="fa fa-arrow-right fa-5x" aria-hidden="true"></i>
                        <%= image_tag "sweetalert.jpg", class:"img-fluid", alt:"参考画像" %>
                    </li>
                    <li>
                        「画像を確認する」ボタンを押すと、ツイート画面が表示され、ログインしているアカウントでツイートすることができます。サイト内でツイート画面が開くため、ツイート時にTwitterアプリやTwitterのウェブサイトに移動することがなく、誤って別アカウントでツイートしてしまう事がありません。
                    </li>
                    <li>Twitterと連携を行なう際に「ツイートする」という権限が含まれることになりますが、ツイートできるのはサイト内でご自身が「画像をツイートする」というボタンを押した時だけです。<br>ユーザー様の意図しない<u>勝手なツイートをする事は一切ありません</u>のでご安心下さい。</li>
                    <li>Twitterで連携する際のアプリケーション名は<b>「こめんとメーカー commentmaker.net」</b>となります。</li>
                    <li>もし、勝手なツイートをされたという際は、こめんとメーカーによるものではありません。Twitterブラウザ版にてご自身のツイートがどのアプリによってされたものかを確認することが可能であり、そのアプリの連携を解除することで意図しないツイートを解除することができます。</li>
                </ul>
            </ul>
        </div>
            <h2 class="login_h2"><span class="icon"></span>その他</h2>
            <ul class="alert alert-success">
                <li class="login_li_title">ご利用は無料です。</li>
                <li class="login_li_title">勝手にTwitterでツイート・RT・フォローなどをすることはありません。</li>
                <li class="login_li_title">利用する際に、ログインに使用したTwitterのアカウント名などのTwitter情報は使用されません。</li>
            </ul>
            <div class="alert alert-secondary text-center mb-5">
                <%= link_to 'twitterでログインする', "/auth/twitter", class: "btn btn-primary font-weight-bold fa fa-twitter", id:"login" %>            
            </div>
        </div>
    </div>
</div>