<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="text-justify">
                <h2>利用規約</h2>
            </div>
            <div class="text-justify">
            <ol class="text-justify">
            <li>はじめに
                <ul class="text-justify">
                    <li>この利用規約（以下「本規約」）は、こめんとメーカー運営チーム（以下「運営者」）が運営するウェブサイト「ひとことメーカー commentmaker.net」（以下「本サイト」）において提供される全てのサービス（以下「本サービス」）の利用における条件を、本サービスを利用する皆様（以下「ユーザー」）と運営者の間で定めるものです。</li>
                </ul>
            </li>
            <li>規約への同意
                <ol class="text-justify">
                    <li>ユーザーは、本規約の定めに従い本サービスをご利用いただきます。</li>
                    <li>未成年のユーザーは、親権者に本規約の内容を確認、同意を得た上で本サービスをご利用下さい。</li>
                    <li>ユーザーは本サービスを実際に利用することにより、本規約に同意をしたものとみなされます。</li>
                </ol>
            </li>
            <li>規約の変更
                <ul class="text-justify">
                    <li>運営者は、運営者が必要と判断した場合、事前の予告なく本規約を変更できるものとします。変更された本規約は運営者が本サイト上に掲示した時点でその効力が生じるものとし、ユーザーはこれに同意します。</li>
                </ul>
            </li>
            <li>各用語の定義
                <ol class="text-justify">
                    <li>コンテンツ：ユーザーが本サイトを利用することで得ることができる情報（文章、画像、動画、音声、コード等）を指します。</li>
                    <li>投稿コンテンツ：コンテンツのうち、ユーザーが本サービスを利用してSNSに投稿（アップロード）した情報を指します。</li>
                    <li>ログイン：一部のコンテンツには、個々のユーザーに紐付いた情報によって利用できるものがあります。本サービスは、外部の認証サービスを通じてユーザーの同一性を確認する事（ログイン）によって、ユーザー個別のデータにアクセスが可能となり、これら一部コンテンツの利用を許可します。</li>
                </ol>
            </li>
            <li>利用料金
                <ul class="text-justify">
                    <li>本サービスの利用は全て無料です。ただし、本サービスを利用するための通信機器、通信にかかる費用は除きます。</li>
                </ul>
            </li>
            <li>禁止事項
                <ul class="text-justify">
                    <li>運営者は、ユーザーが本サービスの利用に際して以下の事を行うことを禁止します。</li>
                </ul>
                <ol class="text-justify">
                    <li>犯罪に関わる行為、法令に違反する行為。</li>
                    <li>著作権、商標権、特許権等の知的財産権、プライバシー、肖像権等、その他第三者の権利を侵害する行為</li>
                    <li>運営者が不適当と判断する卑猥・暴力的・グロテスクな表現を行う行為</li>
                    <li>人種、民族、国籍、信条、性別、社会的身分、居住場所、身体的特徴、病歴、教育等による差別につながる表現を行う行為</li>
                    <li>他者の名誉の毀損、嫌がらせ、誹謗中傷をする行為。</li>
                    <li>犯罪予告、その他反社会的な内容、他人に不快感を与える表現をする行為。</li>
                    <li>同一または類似の内容を大量、または連続して投稿する行為、その他運営者が荒らし・スパムと判断する行為。</li>
                    <li>投稿コンテンツにおいて、電話番号や住所、メールアドレスなど、実在する他者の個人情報と一致し、他者に対する迷惑行為となり得る内容を表現する行為。</li>
                    <li>法令に違反する情報、ポルノ・風俗営業等の情報、公序良俗に反する情報、未成年に悪影響を及ぼす情報などが掲載されたウェブサイト、悪意のあるソフトウェアが仕組まれたウェブサイトへ誘導する行為。</li>
                    <li>本サービス上のランキング機能、検索機能、表示機能を不正に操作する行為。</li>
                    <li>本サービスのサーバやネットワークに支障を与える行為、スクリプト、その他の技術的な手段を利用して本サービスを不正に操作する行為、本サービスの不具合を意図的に利用する行為、その他本サービスの運営や他のユーザーによる本サービスの利用を妨害し、これらに支障を与える行為。</li>
                    <li>禁止行為によって本サービスの利用停止措置を受けたにも拘わらず、他のアカウントを利用して新たに本サービスを利用する行為。</li>
                    <li>その他、運営者が不適当と判断する行為。</li>
                </ol>
            </li>
            <li>禁止行為に対する措置
                <ol class="text-justify">
                    <li>ユーザーが本規約の禁止事項に違反した場合、運営者は、ユーザーに対する本サービスの利用停止、アクセス遮断、投稿コンテンツの非表示または削除、フィルタリング対応等の措置を、当該ユーザーへの通知なしに行うことがあります。</li>
                    <li>ユーザーが禁止行為によって本サービスの利用停止措置を受けた場合、禁止事項に該当する投稿コンテンツの削除をすることで、利用停止を解除される場合があります。</li>
                </ol>
            </li>
            <li>ユーザーの責任
                <ol class="text-justify">
                    <li>本サービスの利用に際して、必要な利用環境（通信機器・ソフトウェア・通信回線）は、ユーザーが各自の責任と費用にて用意するものとし、運営者はユーザーの利用環境について関与せず、一切の責任を負いません。</li>
                    <li>ユーザーは、自身の責任において本サービスを利用するものとし、本サービスにおいて行った全ての行為およびその結果について一切の責任を負うものとします。</li>
                </ol>
            </li>
            <li>損害賠償
                <ul class="text-justify">
                    <li>ユーザーが本規約に違反することにより運営者に損害が発生した場合、運営者は利用者に対し、この損害の賠償を請求することができ、利用者は、当該請求に直ちに応じなければならないものとします。</li>
                </ul>
            </li>
            <li>個人情報の取り扱い
                <ul class="text-justify">
                    <li>本サービスの利用に際してユーザーから取得した個人情報は、別途定める「プライバシーポリシー」に則り取り扱われます。</li>
                </ul>
            </li>
            <li>財産権
                <ol class="text-justify">
                    <li>本サービスに含まれる情報、サービス、ソフトウェアに関する財産権は運営者に帰属します。</li>
                    <li>ユーザーは、自らが本サービスを通じて投稿・送信した投稿コンテンツに対し、著作権を有するものとしますが、投稿コンテンツから本サービス上のプログラムによって自動的に生成される文章や画像は、本サービスの性質上、運営者や他のユーザーによって、本サイト上またはSNS等にて投稿コンテンツを紹介する目的で利用される事があります。ユーザーはこれらの利用について許諾するものとします。</li>
                    <li>ユーザーの投稿コンテンツにおいて二次利用等を行いたい場合、希望する者は、投稿したユーザーに対して許諾について直接交渉するものとし、運営者は二者を仲介しません。投稿したユーザーのアカウントが不明である場合、本サービスを通じて交渉は行えません。</li>
                </ol>
            </li>
            <li>免責事項
                <ol class="text-justify">
                    <li>運営者は、本サービスが安全に、安定してユーザーに提供できるよう最大限の努力を行いますが、本サービスが原因で発生したユーザーまたは他者への損害に対し、運営者に故意又は重過失が存する場合を除き一切の責任を負いません。</li>
                    <li>運営者は本サービス上の投稿コンテンツを監視する義務を負いません。</li>
                    <li>ユーザーによる投稿コンテンツによって他のユーザー、他者に損害が発生した場合、損害に対する責任は投稿を行った当該ユーザーにあり、運営者は自らに故意又は重過失が存する場合を除き一切の責任を負いません。</li>
                    <li>ユーザー同士、またはユーザーと他者との間に紛争が発生した場合、当該関係者同士で解決するものとし、運営者は二者を仲介しません。</li>
                    <li>運営者は、予告なしに、本サービスの運営を停止または中止し、また本サイトに掲載されている情報の全部または一部を削除・変更する場合があります。</li>
                </ol>
            </li>
            <li>準拠法、管轄裁判所
                <ul class="text-justify">
                    <li>本規約は日本法を準拠法とし、東京地方裁判所を第一審の専属管轄裁判所とします。</li>
                </ul>
            </li>
            <li>特例
                <ul class="text-justify">
                    <li>本サイト上の各ページにて当規約と相反する規定があった場合は、各ページに記載された規定を適用します。</li>
                </ul>
            </li>
            </ol>
            <div class="text-justify">以上</div>
                <div class="text-justify">
                    2020年4月14日制定
                </div>
            </div>
        </div>
    </div>
</div>