<% title 'プライバシーポリシー' %>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <h2 class="text-justify mt-5">プライバシーポリシー</h2>
            <ol>
                <li>はじめに
                    <ul>
                        <li>こめんとメーカー運営チーム（以下「運営者」）は、運営するウェブサイト「こめんとメーカー commentmaker.net」（以下「本サイト」）において提供される全てのサービス（以下「本サービス」）において、以下のとおり個人情報保護方針（以下「本プライバシーポリシー」）を定め、個人情報の保護に関する法律（以下「個人情報保護法」）およびEUの一般データ保護規則（以下「GDPR」）、その他関係法令を順守し、ユーザーの個人情報について次の通り取り扱います。</li>
                    </ul>
                </li>
                <li>個人情報の定義及び取得方法
                    <ul>
                        <li>本プライバシーポリシーにおいて、運営者がユーザーから取得し、管理する個人情報は、以下を指します。</li>
                    </ul>
                    <ol>
                        <li>ユーザーのIPアドレス、ウェブブラウザ情報（ユーザーエージェント）
                            <ul><li>取得の時機</li></ul>
                            <ol>
                                <li>ユーザーによって投稿コンテンツが投稿された際に、投稿時のユーザーの利用環境情報として取得します。</li>
                                <li>本サービスにおいてログインを行った際に、ログイン時のユーザーの利用環境情報として取得します。</li>
                                <li>本サービスにおいて問題のある投稿コンテンツの報告を行った際に、報告者の利用環境情報および個人情報として取得します。</li>
                            </ol>
                        </li>
                        <li>Twitter APIによって提供されるアカウント情報（Twitterユーザー名、説明文、アイコン画像等）
                            <ul><li>取得の時機</li></ul>
                            <ol>
                                <li>本サービスにおいては、ログインを行う事で一部の特別な機能を利用することが可能になります。<br>
                                本サービスにおいてはメールアドレスやパスワードを使用せずにログインを実現するため、外部サービスであるTwitter（<a href="https://twitter.com" target="_blank">https://twitter.com</a>）の認証サービス「<b>Oauth with the Twitter APIs</b>」を利用しています。そのためログインするにはTwitterでユーザー登録をしている必要があります。<br>
                                この認証サービスを使用することにより、Twitter社からTwitter APIの仕様に則ったTwitter上で公開されているユーザー情報（<a href="https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/user-object" target="_blank">https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/user-object</a>）が本サービスに提供されます（パスワードは提供されません）。運営者はこれらの情報をユーザー情報として取得します。<br>
                                本サービスは定期的にTwitter APIへアクセスし、ユーザーのアカウント情報を再取得し、保存します。これによりユーザーがTwitter上のユーザー名、説明文、アイコン画像などを変更した際は、本サービス上のユーザー情報も自動的に最新の情報に更新されます。
                                </li>
                            </ol>
                        </li>
                    </ol>
                    <ul>
                        <li>その他、法的な対応が必要となる問い合わせに限り、氏名・住所・生年月日等、手続きに必要な個人情報をお尋ねする場合があります。</li>
                    </ul>
                </li>
                <li>個人情報の利用目的
                    <ul>
                        <li>本プライバシーポリシーにおいて、運営者がユーザーから取得し、管理する個人情報は、以下を指します。</li>
                    </ul>
                    <ol>
                        <li>本サービスをユーザーに円滑に提供するため</li>
                        <li>ユーザーによる不正な利用を防止するため</li>
                        <li>本サービスのシステムの改善、運営のため</li>
                        <li>ユーザーの利用状況の分析のため</li>
                        <li>ユーザーからのお問合せへの対応のため</li>
                        <li>ログイン時の本人確認のため</li>
                        <li>その他上記目的に付随する事項の遂行のため</li>
                    </ol>
                </li>  
                <li>個人情報の第三者への開示
                    <ul>
                        <li>運営者は、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。</li>
                    </ul>
                    <ol>
                        <li>ユーザーの同意がある場合</li>
                        <li>法令に基づき開示することが必要である場合</li>
                        <li>ユーザーが本サービスの利用規約に違反し、運営者又は第三者の権利、財産やサービス等を保護するために、必要であると運営者が判断した場合</li>
                    </ol>
                </li>  
                <li>個人情報の照会・修正・削除
                    <ul>
                        <li>ユーザーがご本人の個人情報の照会・修正・削除などをご希望される場合には、後記の問い合わせ窓口までご連絡下さい。ご本人であることを確認の上、対応させていただきます。</li>
                    </ul>
                </li>
                <li>クッキー
                    <ul>
                        <li>運営者は、ユーザーが本サービスを利用した際に、ユーザーのクッキー情報を利用します。クッキーとは、ユーザーの利用するウェブブラウザ上に、ウェブサイトが発行した情報を指定した期間記録する事が可能な機能であり、一度利用した情報を再利用したり、ウェブブラウザを閉じて再び本サイトを開いた際にも、ログインした状態を保つことが出来るものです。</li>
                        <li>使用目的と使用方法については以下をご確認下さい。</li>
                    </ul>
                    <ol>
                        <li>ユーザーの利便性の向上を目的としたクッキー
                            <ol>
                                <li>本サービスにおける「診断ページ」を利用する際に送信する「名前入力欄の値」。これは、本サービスの利用において同じ値を入力する作業を省略する目的でクッキーとして記録します。</li>
                                <li>ログインをした際に発行される暗号化された「ログイン情報」。これはウェブブラウザを閉じて、再度本サイトを開いてもログイン状態が保たれるように記録します。</li>
                            </ol>
                        </li>
                    </ol>
                </li>
                <li>第三者企業の発行するクッキー
                    <ul>
                        <li>本サービスにおいて、利用状況の分析、広告配信の最適化などを目的として、第三者企業のシステムを利用しています。<br>
                        これにより第三者企業によって発行されたクッキーがご利用のウェブブラウザに保存される事があります。<br>
                        これは第三者企業が、利用状況の分析や、広告配信の最適化を行うためにそれぞれが独自に発行・管理する情報であり、第三者企業のクッキー情報の内容が本サービスに提供される事はありません。また、同時に本サービスで取得した個人情報を第三者企業に提供する事もありません。<br>
                        本サービスで利用する第三者企業のサービスは以下の通りです。また、クッキー情報の保存・追跡を拒否する事が出来る「オプトアウト方法」を確認できるURLも記載します。
                        </li>
                    </ul>
                </li>
                <li>外部への業務委託
                    <ul>
                        <li>運営者が個人情報の取扱いの全部又は一部を外部に委託する場合、当該委託先と守秘義務契約を結び、個人情報が適正に管理されるように必要かつ適切な監督を行います。</li>
                    </ul>
                </li>
                <li>個人情報の管理
                    <ul>
                        <li>運営者は、個人情報の漏えい、滅失、き損または不正アクセス等を防止するために、必要な措置を講じ、個人情報を適切に管理します。</li>
                    </ul>
                </li>
                <li>法令、規範の遵守と見直し
                    <ul>
                        <li>運営者は、保有する個人情報に関して適用される各法令、その他規範を遵守するとともに、本ポリシーの内容を適宜見直し、その改善に努めます。</li>
                    </ul>
                </li>
                <li>お問い合せ
                    <ul>
                        <li>運営者の個人情報の取扱いに関するお問い合せはTwitterのDirect Messageにて <a target="_blank" href="https://twitter.com/commentmakernet">@commentmakernet</a> までご連絡下さい。内容を確認後、適切な処理が出来るよう努めます。</li>
                    </ul>
                </li>
            </ol>
            <div>以上</div>
            <div>2020年4月14日制定</div>
        </div>
    </div>
</div>