<nav class="navbar navbar-expand shadow">

    <ul class="navbar-nav mr-auto">
        <li>
            <%= link_to root_path do %>
                <h1><%= image_tag "header_title.png", class:"img-fluid", alt:"無料で使える画像合成アプリのひとことメーカーで好きな画像にコメントをつけて、twitterなどのSNSでシェアしよう。ブログの記事に使う画像を作ったりもできるぞ。" %></h1>
            <% end %>
        </li>
    </ul>
     
        <ul class="navbar-nav form-inline my-2 my-lg-0">
            <% if session[:oauth_token].nil? %>
            <li>
                <%= link_to 'twitterでログインする？', images_check_path, class: "btn btn-primary font-weight-bold fa fa-twitter", id:"login" %>
            </li>    
                <% else %>
            <li>

            </li>
            <li>
                <%= link_to "twitterログアウト",auth_signout_path, class: "btn btn-primary font-weight-bold fa fa-twitter", id:"logout" %>
            </li>
            <% end %>
    </ul>
</nav>
